.modalImages {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 1.3fr 3.7fr; /* 1.3fr for the left column and 3.7fr for the right column */
    width: 100%;
    max-width: 278px; /* Adjusted for 2 images */
    height: 150px;    /* Adjusted height */
    gap: 6.99px;
}

.gridLeftColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6.99px;
}

.gridBoxSmall {
    position: relative;
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
}

.gridBoxLarge {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.gridImage {
    object-fit: cover;
    object-position: center 25%;
}

.gridLabelSmall,
.gridLabelLarge {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: #0000004D;
    backdrop-filter: blur(9.471px);
    color: white;
    font-size: 12px;
    font-weight: var(--font-weight-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.04px 6.09px;
    border-radius: 7891.91px;
    z-index: 2;
}

.gridLabelSmall {
    height: 17px;
}

.gridLabelLarge {
    height: 20px;
}

@media only screen and (max-width: 800px) {
    .gridWrapper {
        max-width: 278px; /* Adjusted for mobile */
        max-height: 150px;
    }

    .gridBoxSmall {
        height: 50%;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, .55);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    position: relative;
    max-width: 980px;
    width: 95%;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 12px;
    padding: 24px 16px;
    background: #121317;
    /* border: 2px solid red; */
    overflow-y: auto;
    scrollbar-width: none;
  }
  
  .close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }